build/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CMake*.log

*.moc
*.ui
*.qrc
mocs_compilation_*.cpp
ui_*.h

.vscode/
.vs/
*.user

*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.obj
*.o
*.pdb
*.ilk
*.exp

# 日志文件
*.log